body {
    background-color: rgb(0, 136, 255);
    color: brown;
}

h1 {
    color: black;
    font-size: 50px;
}
.btn{
    display: flex;
    justify-content: center;
    text-align: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px !important;
    width: 90px !important;
    background-color: yellow;
    border-radius: 5px;
    margin: 20px;

}
#grey{
    background-color: gray;
    &:hover {
        background-color: rgb(14, 4, 2);
    }
}
#Random{
    background-color: rgb(0, 255, 238);
    &:hover {
        background-color: rgb(14, 4, 2);
    }
}
#white{
    background-color: white;
    &:hover {
        background-color: rgb(14, 4, 2);
    }
}
#blue{
    background-color: blue;
    &:hover {
        background-color: rgb(14, 4, 2);
    }
}